<mat-toolbar class="header">Header</mat-toolbar>
<mat-sidenav-container class="sideNavContainer">
	<mat-sidenav #sidenav mode="side" opened="true"
		[fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0"
		class="sideNav">
		<mat-nav-list class="noTopPadding">
			<mat-card mat-list-item class="titleCard"><h1>Bills Paid</h1></mat-card>
			<a mat-list-item routerLink="/dashboard">
				<div class="col-1 text-center">
					<i class="fa fa-tachometer-alt"></i>
				</div>
				<div class="col">Dashboard</div>
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/accounts">
				<div class="col-1 text-center">
					<i class="fa fa-building"></i>
				</div>
				<div class="col">Accounts</div>
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/bills">
				<div class="col-1 text-center">
					<i class="fa fa-credit-card"></i>
				</div>
				<div class="col">Bills</div>
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/paychecks">
				<div class="col-1 text-center">
					<i class="fa fa-piggy-bank"></i>
				</div>
				<div class="col">Paychecks</div>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer">Footer</mat-toolbar>