<div class="header col col-12">
	<div class="row">
		<span class="h2">Accounts</span>
		<span style="padding-top:5px; margin-left:8px;"><i class="fa fa-sm fa-plus-circle color-forestgreen" (click)="OpenAccountNew()"></i></span>
	</div>
</div>
<div class="mat-elevation-z5">
	<mat-table #table [dataSource]="accounts">
		<ng-container matColumnDef="Name">
			<mat-header-cell *matHeaderCellDef class="col col-8">Name</mat-header-cell>
			<mat-cell *matCellDef="let account" class="col col-8">{{account.Name}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Options" cssClassFriendlyName="col-xs-1">
				<mat-header-cell *matHeaderCellDef class="col col-4"></mat-header-cell>
				<mat-cell *matCellDef="let account" class="col col-4">
					<span class="col"><i class="fa fa-eye fa-lg color-royalblue clickable" (click)="OpenAccountEdit(account)"></i></span>
					<span class="col"><i class="fa fa-times fa-lg color-tomato clickable" (click)="DeleteAccount(account)"></i></span>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>
<div class="col col-2 offset-10" style="margin-bottom:15px;">
	<mat-chip-list>
		<mat-chip color="primary" class="mat-elevation-z6">
			{{totalAccounts}} Account{{totalAccounts == 1 ? "" : "s"}}
		</mat-chip>
	</mat-chip-list>
</div>